@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Lato&display=swap');

:root {
  --link-color: #000;
  --text-color-dark: #000;
  --text-color-light: #fff;
  --bg-color: #fff;
  --pink-middle: #eb93bf;
  --pink-light: #f7d4e6;
  --pink-dark: #d82c82;
  --yellow-middle: #eb93bf;
  --yellow-light: #fff7cc;
  --yellow-dark: #ffd700;
  --green-middle: #63c9b4;
  --green-light: #d9f2ed;
  --green-dark: #277263;
  --blue-middle: #1a67f8;
  --blue-light: #e6effe;
  --blue-dark: #0640ac;
  --bg-light-grey: #f1f1f1;
}

html,
body {
  font-family: 'Dosis', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  width: 100%;
}

a:visited {
  color: var(--blue-middle);
}

p,
li,
a {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

nav ul,
nav li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: end;
}

.skip-link {
  color: var(--link-color);
  left: 0;
  padding: 8px;
  position: absolute;
  top: -50px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/** ############################################## 
* ################### HEADER ####################
* ############################################## */

.header-outer {
  align-items: center;
  background: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 150px;
  left: 0;
  padding: 0 50px;
  position: sticky;
  top: -50px;
  width: 100%;
  z-index: 1;
}

.header-inner {
  align-items: center;
  background: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
}

/* .logo-container {
  width: 100%;
  height: 100px;
} */

.logo {
  display: inline-block;
  height: 100%;
  width: auto;
}

.navbar a {
  border-block-end: 3px solid var(--border-color, transparent);
  color: var(--link-color);
  font-weight: 500;
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
  padding: 20px;
  text-decoration: none;
}

.navbar a:where(:hover, :focus) {
  --border-color: var(--link-color);
}

.tooltip {
  border-bottom: 1px dotted var(--blue-dark);
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 20px;
  position: relative;
}

.tooltip .tooltipText {
  background-color: var(--blue-light);
  border-radius: 6px;
  color: var(--blue-dark);
  left: 50%;
  margin-left: -60px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: 100%;
  visibility: hidden;
  width: 120px;
  z-index: 1;
}

.tooltip .tooltipText::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--blue-light) transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

@media (max-width: 980px) {

  .header-outer {
    height: auto;
    top: 0;
  }

  .header-inner {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 850px) {

  .navbar a,
  .tooltip {
    font-size: 16px;
  }

  .article,
  .card {
    margin: 30px 0;
    width: 100%;
  }
}

@media (max-width: 780px) {

  .navbar ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 60px;
  }
}

@media (max-width: 630px) {

  .navbar ul {
    gap: 12px 20px;
  }
}

@media (max-width: 550px) {

  .navbar ul {
    flex-direction: column;
  }

  .navbar a {
    padding-bottom: 10px;
  }
}

/** ############################################## 
* ################### MAIN ####################
* ############################################## */

.main-container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 50px 50px;
}

.hacktober {
  padding-top: 30px;
}

.articles,
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin: 40px 0;
}

.article,
.card {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 200px;
  text-align: center;
  width: 30%;
}

.article a {
  background-color: var(--green-light);
  height: 100%;
  text-decoration: none;
}

.card a {
  height: 100%;
  text-decoration: none;
}

.article h4 {
  background-color: var(--green-dark);
  color: var(--text-color-light);
  font-size: 1.3rem;
  font-family: 'Dosis', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 20px 10px;
}

.article p,
.card p {
  color: var(--text-color-dark);
  font-size: 1.2rem;
  height: 70%;
  margin: 0;
  padding: 20px;
}

.linked-tag {
  background-color: var(--blue-middle);
  color: var(--text-color-light);
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}

.linked-tag:visited {
  color: var(--text-color-light);
}

.profile-img {
  float: left;
  margin-right: 25px;
}

@media screen and (max-width: 450px) {
  .profile-img {
    float: none;
    margin: 0 auto;
  }
}

.card h3 {
  background: var(--bg-light-grey) url(/images/bird-yellow.png) no-repeat 90% 50%;
  background-size: 150px auto;
  font-size: 4rem;
  margin: 0;
  padding: 40px 0;
}

.card span {
  color: var(--text-color-dark);
  font-size: 1.5rem;
}

.card-two h3 {
  background: var(--bg-light-grey) url(/images/bird-pink.png) no-repeat 90% 50%;
  background-size: 150px auto;
}

.card-three h3 {
  background: var(--bg-light-grey) url(/images/bird-green.png) no-repeat 90% 50%;
  background-size: 150px auto;
}


/** ############################################## 
* ################### FOOTER ####################
* ############################################## */

.footer {
  background-color: #F5F5F5;
  bottom: 0;
  min-height: 350px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.sitemap {
  border-block-end: 1px solid #d5d5d5;
  height: 70%;
  padding-bottom: 20px;
}

.copyright {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  height: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 400px) {

  .footer {
    min-height: 450px;
  }
}